//variables
$deepPurple: #141935
$violet: #505fad
$violet80: rgba(80,95,173,.8)
$aigueMarine: #71c49d
$aigueMarineShade: #66b08d
$placeholderColor : #fff

//Modules
%dflex
    display: flex

%h100
    height: 100%

%icon
    height: 2vw
    width: 2vw

%backgroundCover
    background-repeat: no-repeat
    background-size: cover

%backgroundContain
    background-repeat: no-repeat
    background-size: contain

%transition
    transition: all .2s

%contour
    padding: 1.65vw
    background-color: $violet
    border-radius: .5vw

%lets-go
    background-color: $violet
    border-radius: 0 .5vw .5vw 0
    cursor: pointer

%purpleAfterOff
    @extend %transition
    content: ''
    display: block
    width: 4vw
    height: 1.3vw
    background: $aigueMarineShade
    margin-top: -1.3vw
    margin-left: -1.3vw
    position: absolute
    z-index: -1
    transform: scale(0)

%purpleAfterOn
    transform: scale(1)

%textShadow
    text-shadow: $aigueMarine 1px 0 10px

//no_Structure
[class^="close"]
    &:hover::after
        transform: scale(1.4)    

h2
    @extend %textShadow
    font-size: 1.9rem
    &::after
        content: ''
        display: block
        width: 10vw
        height: 10px
        background: $aigueMarineShade
        margin-top: -20px
        margin-left: -20px
        position: relative
        z-index: -1
        opacity: .25

h3
    @extend %textShadow
    letter-spacing: 1.1px

// Structure SASS
body
    background: $deepPurple
    font-size: 1vw
    header
        @extend %dflex
        align-items: center
        margin: 2.5vw 10vw
        .logo
            @extend %backgroundContain
            background-image: url('../img/logo-pierre-darrieutort.svg')
            height: 5vw
            width: 5vw
        .nav-menu-header
            flex: 1
            ul
                @extend %dflex
                li
                    align-self: center
                    position: relative
                    z-index: 2
                    &:not(:last-child)
                        padding: 0 1.7vw
                        &::after
                            @extend %purpleAfterOff
                            &:hover::after
                                @extend %purpleAfterOn
                    &:last-child
                        @extend %transition
                        margin-left: auto
                        &:hover
                            color: $aigueMarine
                        #topContactButton
                            @extend %contour
                            cursor: pointer
    .sectionContainer
        background-image: url("../img/Paths.svg")
        background-position: 50% 4vw
        background-repeat: no-repeat
        padding: 0 10vw 15vw 10vw
        margin: 10vw 0 0 0
        background-size: 100% 100%
        section:not(#mes-travaux)
            @extend %dflex
            > div
                flex: 1
            > .wrapperDroite
                margin-left: .5vw
            > .wrapperGauche
                margin-right: .5vw
        #intro
            .wrapperGauche
                @extend %dflex
                align-items: center
                justify-content: center
                text-align: right
                img#pierre-darrieutort-picture
                    //max-width: 70%
                    max-width: 100%
                    //box-shadow: inset 4rem 5rem $aigueMarine
                    //background: $violet
                    //background-image: linear-gradient(to right top, #505fad, #0080c1, #009bbf, #00b2ae, #71c49d)
                    //background-image: linear-gradient(to left bottom, #505fad, #0080c1, #009bbf, #00b2ae, #71c49d)
                    //background-image: linear-gradient(to right top, #141935, #034161, #006c83, #239996, #71c49d)
                    background-image: linear-gradient(to left bottom, #141935, #034161, #006c83, #239996, #71c49d);
            .wrapperDroite
                font-size: 7.5rem
                line-height: 1.4
                text-align: right
                @extend %dflex
                flex-direction: column-reverse
                .revealWrapper
                    .revealOnMobile
                        display: block
                        font-size: 3rem
                        line-height: .5
                    & span
                        color: #71c49d
                        .bonjourMobile
                            display: none
                        .bonjourDesktop
                            text-transform: capitalize
                    & h1
                        text-shadow: #71c49d 1px 0 10px
                .ghi
                    @extend %textShadow
                    .aokContainer
                        overflow: hidden
                        position: relative
                        display: inline-block
                        vertical-align: top
                        width: 100%
                        font-size: 4rem
                        top: -2vw
                        .aok
                            position: absolute
                            bottom: 0
                            left: 0
                            transition: bottom .3s ease
                            width: 100%
                            .bip
                                display: block
                                color: $aigueMarine
        h2
            margin: 5vw 0
        #a-propos
            @extend %dflex
            .wrapperDroite
                position: relative
                > div
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    width: 100%
                    transition: transform .2s
                > div:not(:last-child)
                    @extend %contour
                .slideContent
                    @extend %contour
                    background-color: $violet80
                    border-radius: .5vw
                    .atoutsContent
                        text-align: justify
                .telecharger-cv
                    @extend %dflex
                    background-color: $violet80
                    border-radius: .5vw
                    margin-bottom: 1.2vw
                    justify-content: space-between
                    cursor: pointer
                    > div
                        padding: 2vw
                    > .download-CV-Text
                        align-items: center
                        align-content: center
                        align-self: center
                        font-size: 2rem
                        text-align: center
                        width: 100%
                        letter-spacing: 1.1px
                    > div:last-child
                        align-self: center
                        $color: #0077FF
                        .btn-circle-download
                            position: relative
                            height: 48px
                            width: 48px
                            margin: auto
                            border-radius: 100%
                            background: #E8EAED
                            cursor: pointer
                            overflow: hidden
                            transition: all .2s ease
                            &:after
                                content: ""
                                position: relative
                                display: block
                                width: 200%
                                height: 100%
                                background-image: linear-gradient(100deg, rgba(white,0), rgba(white,.25),rgba(white,0))
                                transform: translateX(-100%)
                            svg
                                stroke-width: 2
                                stroke-linecap: round
                                stroke-linejoin: round
                                fill: none
                                &#border
                                    position: absolute
                                    top: 0
                                    left: 0
                                    stroke: none
                                    stroke-dasharray: 144
                                    stroke-dashoffset: 144
                                    transition: all .9s linear
                                &#arrow
                                    position: absolute
                                    top: 14px
                                    left: 17px
                                    stroke: #9098A9
                                    transition: all .2s ease
                                &#check
                                    position: absolute
                                    top: 17px
                                    left: 13px
                                    stroke: white
                                    transform: scale(0)
                            &:hover
                                background: rgba($color,.2)
                                #arrow
                                    path,
                                    polyline
                                        stroke: $color
                            &.load
                                background: rgba($color,.2)
                                #arrow
                                    path,
                                    polyline
                                        stroke: $color
                                #border
                                    stroke: $color
                                    stroke-dasharray: 144
                                    stroke-dashoffset: 0
                            &.done
                                background: $color
                                animation: rubberBand .8s
                                &:after
                                    transform: translateX(50%)
                                    transition: transform .4s ease
                                    transition-delay: .7s
                                #border,
                                #arrow
                                    display: none
                                #check
                                    transform: scale(1)
                                    transition: all .2s ease
                                    transition-delay: .2s

                            @keyframes rubberBand
                            from
                                transform: scale(1, 1, 1)
                            30%
                                transform: scale3d(1.15, 0.75, 1)
                            40%
                                transform: scale3d(0.75, 1.15, 1)
                            50%
                                transform: scale3d(1.10, 0.85, 1)
                            65%
                                transform: scale3d(.95, 1.05, 1)
                            75%
                                transform: scale3d(1.05, .95, 1)
                            to
                                transform: scale3d(1, 1, 1)
                .wd-competences
                    .slideContent
                        display: grid
                        grid-template: "A B" "C D" auto / 50%
                        padding: 0
                        gap: 2.5vw .5vw
                        .skill
                            padding: 0 1vw
                            h3
                                text-align: left
                                margin: 0 0 1vw 0
                                font-size: .9rem
            .wrapperGauche
                @extend %dflex
                flex-direction: column
                justify-content: center
                > h3
                    @extend %transition
                    font-size: 5rem
                    line-height: 0
                > h3.active
                    color: $aigueMarine
                    margin-left: 5vw
                > h3:not(.active)
                    animation: heyBounce 1s infinite ease-in-out 7s

                    @keyframes heyBounce
                        from
                            margin-left: 0
                        50%
                            margin-left: 2vw
                        to
                            margin-left: 0
        h2
            margin: 7vw 0 5vw
        #mes-travaux
            display: grid
            grid-template-columns: repeat(2, calc(50% - .5vw))
            gap: .25vw 1vw
            .workContainer
                @extend %dflex
                padding: 1vw
                background-color: $violet80
                > .img-projet
                    @extend %backgroundContain
                    background-position: center
                    flex: 25%
                    padding: 1vw
                    &:hover
                        cursor: pointer
                > .desc-projet
                    flex: 75%
                    &:hover
                        cursor: pointer
                .nom-projet
                    margin: 1vw
                .detail-projet
                    text-align: right
                &:hover
                    background-color: $violet
                    .showP
                        color: $aigueMarine
                        > span
                            animation: lightbulb 2s linear .5s infinite
                            transform-origin: bottom

                            @keyframes lightbulb 
                                from
                                    transform: rotate(0)
                                
                                12.5% 
                                    transform: rotate(-20deg)
                                
                                25% 
                                    transform: rotate(20deg)
                                
                                37.5% 
                                    transform: rotate(-20deg)
                                
                                45%
                                    transform: rotate(0deg)
                                
                                55%
                                    transform: rotate(0deg)
                                
                                62.5% 
                                    transform: rotate(-20deg)
                                
                                75% 
                                    transform: rotate(20deg)
                                
                                87.5% 
                                    transform: rotate(-20deg)
                                
                                to
                                    transform: rotate(0)
                &:nth-child(-n+2)
                    border-radius: .5vw .5vw 0 0
                &:nth-last-child(-n+2)
                    border-radius: 0 0 .5vw .5vw
                .showP
                    @extend %transition
                    @extend %textShadow
                    text-align: right
                    display: block
                    width: 100%
                    cursor: pointer
                    > span
                        @extend %transition
                        display: inline-block
                .closeP
                    @extend %icon
                    position: absolute
                    top: 0
                    right: 0
                    color: #fff
                    cursor: pointer
                    border: 0
                    border-radius: 0 0 0 .4vw
                    background: $deepPurple
                    opacity: .75
                    &::after
                        @extend %transition
                        content: "\2715"
                        display: block
                .maskP
                    position: fixed
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    z-index: 50
                    visibility: hidden
                    opacity: 0
                    transition: .7s
                    background: $deepPurple
                & .active
                    visibility: visible
                    opacity: .85
                    + .modalP
                        visibility: visible
                        opacity: 1
                        transform: translateY(0)
                .modalP
                    @extend %contour
                    position: fixed
                    top: 50%
                    left: 50%
                    width: 70vw
                    height: 85vh
                    margin-left: -35vw
                    margin-top: -42.5vh
                    z-index: 100
                    visibility: hidden
                    opacity: 0
                    transition: 0.5s ease-out
                    transform: translateY(45px)
                    background: $violet
                    overflow: auto
                    .contenuProjet
                        display: grid
                        grid-template: "A B" auto / 10vw
                        text-align: center
                        .desContainer
                            position: fixed
                            width: 10vw
                            display: grid
                            grid-template: "C" "D" 60% / auto
                            height: 76vh
                            img
                                width: 100%
                                max-height: 100%
                            .desCriptif
                        .corps
                            grid-area: B
                            p
                                text-align: justify
                                margin-left: 5px
                                border-left: 2px solid $aigueMarine
                                padding-left: 5px
                                font-size: 1rem
    footer
        @extend %dflex
        border-top: 2vw solid #7fc2da
        justify-content: space-between
        padding: 4vw 10vw
        background-color: $deepPurple
        .anchorWrapper
            .nav-menu-footer
                @extend %h100
                display: flex
                flex-direction: column
                justify-content: space-between
                h3
                    @extend %textShadow
                ul
                    @extend %dflex
                    flex-direction: column
                    line-height: 2.2
                    li
                        position: relative
                        z-index: 2                        
                    li::after
                        @extend %purpleAfterOff
                    li:hover::after
                        @extend %purpleAfterOn
        .contactWrapper
            @extend %dflex
            flex-direction: column
            justify-content: space-between
            .email-me
                @extend %dflex
                width: 30vw
                background-color: $violet80
                border-radius: .5vw
                margin-bottom: 1.2vw
                justify-content: space-between
                #mailContact
                    background: none
                    font: inherit
                    border: none
                    flex-grow: 3
                    padding-left: 1vw
                    color: $placeholderColor
                    &::-webkit-input-placeholder
                        color: $placeholderColor
                    &:-moz-placeholder
                        color: $placeholderColor
                    &::-moz-placeholder
                        color: $placeholderColor
                    &:-ms-input-placeholder
                        color: $placeholderColor
            .show
                @extend %lets-go
                border: none
                padding: 2vw
                color: inherit
                font: inherit
                > span
                    @extend %transition
                    display: inline-block
                &:hover > span
                    transform: rotateY(180deg) rotateZ(45deg)
            .close
                @extend %icon
                position: absolute
                top: 0
                right: 0
                color: #fff
                cursor: pointer
                border: 0
                border-radius: 0 .4vw 0
                background: $deepPurple
                opacity: .75
                &::after
                    @extend %transition
                    content: "\2715"
                    display: block
            .mask
                position: fixed
                top: 0
                left: 0
                width: 100%
                height: 100%
                z-index: 50
                visibility: hidden
                opacity: 0
                transition: .7s
                background: $deepPurple
                margin: 0
            & .active
                    visibility: visible
                    opacity: .85
                    + .modal
                        visibility: visible
                        opacity: 1
                        transform: translateY(0)
            .modal
                @extend %contour
                position: fixed
                top: 50%
                left: 50%
                width: 400px
                height: 400px
                margin-left: -200px
                margin-top: -200px
                z-index: 100
                visibility: hidden
                opacity: 0
                transition: 0.5s ease-out
                transform: translateY(45px)
                background: $violet
                form
                    @extend %dflex
                    flex-direction: column
                    justify-content: space-between
                    height: 100%
                    max-height: 275px
                    textarea
                        resize: none
                        height: 100px
                    input, textarea
                        transition: all .15s
                        border: none
                        border-bottom: 1px solid $placeholderColor
                        background: $violet80
                        border-radius 50% 0 50% 0
                        font: inherit
                        color: $placeholderColor
                        &::-webkit-input-placeholder
                            color: $placeholderColor
                        &:-moz-placeholder
                            color: $placeholderColor
                        &::-moz-placeholder
                            color: $placeholderColor
                        &:-ms-input-placeholder
                            color: $placeholderColor
                        &:focus
                            transition: all .1s
                            border-bottom: 4px solid $placeholderColor
                            &::-webkit-input-placeholder
                                opacity: 0
                            &:-moz-placeholder
                                opacity: 0
                            &::-moz-placeholder
                                opacity: 0
                            &:-ms-input-placeholder
                                opacity: 0
                    button
                        @extend %transition
                        position: absolute
                        bottom: 0
                        border: none
                        width: 100%
                        left: 0
                        border-radius: 0 0 8px 8px
                        background: $deepPurple
                        padding: 1vw
                        color: inherit
                        font: inherit
                        opacity: .7
                        cursor: pointer
                        &:hover
                            @extend %transition
                            opacity: .9
                            font-size: 1.3rem
        .socialWrapper
            @extend %dflex
            @extend %h100
            flex-direction: column
            justify-content: space-between
            .LinkedIn
                @extend %icon
                @extend %transition
                filter: invert(34%) sepia(85%) saturate(461%) hue-rotate(193deg) brightness(89%) contrast(83%)
            .LinkedIn:hover
                filter: invert(33%) sepia(93%) saturate(1244%) hue-rotate(174deg) brightness(84%) contrast(104%)
            .GitLab
                @extend %icon
                transition: all .5s ease-in-out
            .GitLab:hover
                transform: rotate3d(1, 1, 1, 360deg)
            .GitLab, .LinkedIn
                margin: .5vw 0
