@media all and (max-width: 768px)
    body
        font-size: 2vw
        header
            .logo
                width: 7rem
                height: 7rem
            .nav-menu-header
                font-size: 1.2rem
                #topContactButton
                    font-size: .95rem
        .sectionContainer
            #intro
                .wrapperGauche
                    img
                        max-width: 100%
                .wrapperDroite
                    display: flex
                    align-items: center
                    .revealWrapper
                        display: flex
                        align-items: center
                        flex-direction: column
                        .revealOnMobile
                            display: block!important
                            font-size: 2rem
                            line-height: initial
                            text-align: center
                        & span
                            width: 100%
                            .bonjourMobile
                                display: block
                            .bonjourDesktop
                                text-transform: none
                    p
                        display: none
            #a-propos
                .wrapperGauche
                    display: none
                    h3
                        font-size: 1.65rem
                .wrapperDroite
                    [data-slide]
                        transform: none!important
                        position: initial
                        &:not(:last-of-type)
                            margin-bottom: 5vw
                        &:first-child
                            margin-top: 2vw
                    .telecharger-cv
                        .download-CV-Text
                            font-size: .8rem
            #mes-travaux
                .workContainer
                    .modalP
                        width: 90vw
                        margin-left: -45vw
                        .contenuProjet
                            grid-template: "A B" auto/14vw
                            .desContainer
                                width: 14vw
                    .closeP
                        height: 19px
                        width: 19px
        footer
            padding: 4.5vw
            h3
                margin-top: 0
            .contactWrapper
                flex: 2
                text-align: center
                .email-me
                    margin-left: 9vw
                    width: 40vw
                .modal
                    .close
                        height: 19px
                        width: 19px
                    form
                        margin-top: 40px
                        font-size: 1.2rem
                        button
                            font-size: 1.5rem
                            border-radius: 3px
    @media all and (max-width: 620px)
        body
            font-size: 1rem
            header
                margin: 2.5vw 5vw
                .logo
                    width: 3.5rem
                    height: 3.5rem
            .sectionContainer
                #intro
                    .wrapperDroite
                        .revealWrapper
                            margin: 0 auto
                            .revealOnMobile
                                font-size: 1.5rem
                #a-propos
                    .wrapperDroite
                        .telecharger-cv
                            .download-CV-Text
                                font-size: 2rem
                        .wd-competences
                            .slideContent
                                gap: 3.5vw 0.5vw
                                .skill
                                    h3
                                        font-size: 1.2rem
                                        margin-bottom: 1rem
                #mes-travaux
                    grid-template-columns: unset
                    .workContainer
                        .modalP
                            .contenuProjet
                                grid-template: "A B" auto/20vw
                                .desContainer
                                    width: 20vw
            footer
                flex-direction: column
                div
                    margin: 0 10vw
                    &:not(:last-child)
                        margin-bottom: 40px
                .anchorWrapper
                    .nav-menu-footer
                        ul
                            display: grid
                            grid-template: "a a a" "b c d"
                            h3
                                grid-area: a
                                text-align: center
                            li:nth-child(1)
                                grid-area: b
                            li:nth-child(2)
                                grid-area: c
                            li:nth-child(3)
                                grid-area: d
                .contactWrapper
                    flex: unset
                    .email-me
                        width: 60vw
                        margin: 0 auto
                .socialWrapper
                    *
                        text-align: center
                    h3
                        grid-area: a
                    display: grid
                    grid-template: "a a a a a" "b b . c c" "d d d d d"
                    a:first-of-type
                        grid-area: b
                    a:last-of-type
                        grid-area: c
                    #copyright
                        grid-area: d
                    img
                        height: 7.5vw!important
                        width: 7.5vw!important
        @media all and (max-width: 414px)
            body
                font-size: .8rem
                header
                    .logo
                        width: 2rem
                        height: 2rem
                    .nav-menu-header
                        font-size: 1rem
                .sectionContainer
                    #intro
                        .wrapperDroite
                            .revealWrapper
                                .revealOnMobile
                                    font-size: 1rem
                    #a-propos
                        .wrapperDroite
                            .wd-competences
                                .slideContent
                                    .skill
                                        h3
                                            font-size: .85rem
                            .telecharger-cv
                                .download-CV-Text
                                    font-size: 1rem



@media all and (min-width: 768px) and (max-width: 1200px)
    body
        font-size: 1vw
        header
            .logo
                width: 7rem
                height: 7rem
            .nav-menu-header
                font-size: 1.5rem
                #topContactButton
                    font-size: 1rem
        .sectionContainer
            #a-propos
                .wrapperGauche
                    > h3
                        font-size: 2rem
                .wrapperDroite
                    font-size: .8rem
            #mes-travaux
                font-size: .9rem
        footer
            font-size: .8rem
            form
                font-size: 1.2rem
    @media all and (max-width: 950px)
        #intro
            .wrapperGauche
                    display: none!important


@media all and (min-width: 1200px) and (max-width: 1900px)
    body
        .sectionContainer
            #a-propos
                .wrapperGauche
                    > h3
                        font-size: 4rem
    @media all and (max-width: 1500px)
       body
            .sectionContainer
                #a-propos
                    .wrapperGauche
                        > h3
                            font-size: 3rem



@media all and (min-width: 1900px)
    body
        font-size: 1.4vw
        .sectionContainer
            #a-propos
                .wrapperDroite
                    font-size: 1.2rem!important
                    h3
                        font-size: 1.7rem!important
            .contenuProjet
                grid-template: "A B" auto / 14vw!important
                .desContainer
                    display: block!important
                    width: 14vw!important
        footer
            .modal
                transform: scale(1.8)!important
                font-size: 1.1rem!important

