@charset "UTF-8"

*,*:after,*:before
    box-sizing: border-box

body
    margin: 0
    color: #fff
    font-size: 2vw

body, textarea
    font-family: 'Open Sans', sans-serif

img
    display:block

ul, p
    margin: 0
    padding: 0

li
    list-style: none

a
    color: inherit;
    text-decoration: none
