<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Bienvenue sur mon portfolio, je suis Pierre Darrieutort et je suis à la fois développeur web et chef de projet digital" />
  <link rel="canonical" href="https://pierredarrieutort.fr/index.html" />
  <meta name="Language" CONTENT="fr" />
  <title>Pierre Darrieutort - Développeur web & Chef de projet Digital</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="icon" type="image/png" href="<%=require('./img/favicon-pierre-darrieutort.png')%>" />
  <link href="./css/app.css" rel="stylesheet">
</head>

<body id="body">
  <div class="pageContainer">
    <header>
      <a href="#">
        <div class="logo"></div>
      </a>
      <nav class="nav-menu-header">
        <ul>
          <li><a class="js-scrollTo" href="#a-propos">&Agrave; propos</a></li>
          <li><a class="js-scrollTo" href="#mes-travaux">Mes projets</a></li>
          <li>
            <div id="topContactButton">Contactez-moi</div>
          </li>
        </ul>
      </nav>
    </header>
    <div class="sectionContainer">
      <section id="intro">
        <div class="wrapperGauche">
          <img id="pierre-darrieutort-picture" src="<%=require('./img/Pierre-Darrieutort.png')%>" alt="Pierre Darrieutort">
        </div>
        <div class="wrapperDroite">
          <div class="revealWrapper">
            <span class="revealOnMobile"><span class="bonjourMobile">Bonjour, </span><span class="bonjourDesktop">j</span>e suis</span>
            <h1 class="revealOnMobile">Pierre Darrieutort</h1>
          </div>
          <p class="ghi">Bienvenue
            <span class="aokContainer">&nbsp;
              <span class="aok">
                <span class="bip">quelque part...</span>
                <span class="bip">noble étranger !</span>
                <span class="bip">à toi !</span>
                <span class="bip">(づ｡◕‿‿◕｡)づ</span>
                <span class="bip">à vous !</span>
              </span>
            </span>
          </p>
        </div>
      </section>

      <h2>&Agrave; Propos</h2>
      <section id="a-propos">
        <div class="wrapperGauche">
          <h3 data-slide="1" class="active">Mon savoir-faire</h3>
          <h3 data-slide="2">Mes atouts</h3>
          <h3 data-slide="3">Mon CV</h3>
        </div>
        <div class="wrapperDroite">
          <div data-slide="1" class="wd-competences active">
            <div class="slideContent">
              <div class="skill sOne">
                <h3>Le développement web</h3>
                <p>Maîtrise des technologies NodeJS, jQuery, PHP, etc...<br>
                  Création de sites vitrine from-scratch, Wordpress ou contenus sur demande.</p>
              </div>
              <div class="skill sTwo">
                <h3>L'intégration web</h3>
                <p>Maîtrise des langages HTML, SASS, Javascript, etc...<br>
                  Création de visuels visant à l'amélioration de contenus commerciaux ou purement artistiques.</p>
              </div>
              <div class="skill sThree">
                <h3>La gestion de projets digitaux</h3>
                <p>Maîtrise des techniques et méthodes de gestion de projet <br>
                  Accompagnement de projets, estimations des délais, des ressources et des budgets nécessaires.</p>
              </div>
              <div class="skill sFour">
                <h3>La création graphique</h3>
                <p>Maîtrise des logiciels Photoshop, Illustrator, InDesign, Adobe XD.<br>
                  Création de webdesigns, plaquettes, flyers, logotypes et visuels pouvant être adaptés à l'imprimerie.</p>
              </div>
            </div>
          </div>
          <div data-slide="2" class="wd-atouts">
            <div class="slideContent">
              <p class="atoutsContent">Que se soit en mode agence lors de projets fictifs ou lors de la réalisation d'un projet en entreprise, j'utilise mes connaissances ainsi que mon savoir faire pour mener à bien le projet.<br><br>
              J'utilise pour cela la multitude d'outils à ma disposition, que ce soit un simple éditeur de texte à l'environnement de développement le plus complexe &#x1F61B;<br><br>
              La communication est selon moi le pilier central de tout projet et elle se doit d'être fluide en toutes circonstances pour comprendre les forces et faiblesses de tout un chacun et ainsi optimiser les tâches afin de rendre chaque projet dans les délais tout en maintenant une ambiance agréable &#x1F44B;&#x1F31D;</p>
            </div>
          </div>
          <div data-slide="3" class="wd-cv">
            <a class="telecharger-cv" target="_blank" href="./docs/Pierre-Darrieutort-CV.pdf">
              <div class="download-CV-Text">T&eacute;l&eacute;charger mon CV ?</div>
              <div>
                <div class="btn-circle-download">
                  <svg id="arrow" width="14px" height="20px" viewBox="17 14 14 20">
                    <path d="M24,15 L24,32"></path>
                    <polyline points="30 27 24 33 18 27"></polyline>
                  </svg>
                  <svg id="check" width="21px" height="15px" viewBox="13 17 21 15">
                    <polyline points="32.5 18.5 20 31 14.5 25.5"></polyline>
                  </svg>
                  <svg id="border" width="48px" height="48px" viewBox="0 0 48 48">
                    <path d="M24,1 L24,1 L24,1 C36.7025492,1 47,11.2974508 47,24 L47,24 L47,24 C47,36.7025492 36.7025492,47 24,47 L24,47 L24,47 C11.2974508,47 1,36.7025492 1,24 L1,24 L1,24 C1,11.2974508 11.2974508,1 24,1 L24,1 Z"></path>
                  </svg>
                </div>
              </div>
            </a>
            <div class="slideContent">
              <p>Si vous souhaitez vous faire une petite idée de mon parcours, allez jeter un coup d'œil au dessus &#x1F61C;</p>
            </div>
          </div>
        </div>
      </section>
      <h2>Mes derniers projets</h2>
      <section id="mes-travaux">
        <div class="workContainer" data-projet="1">
          <div class="img-projet" style='background-image: url("<%=require('./img/agence-nature-logo.png')%>")'></div>
          <div class="desc-projet">
            <a class="showP">En savoir plus <span>&#x1F4A1;</span></a>
            <div class="nom-projet">
              <p>L'Agence Nature</p>
              <p>Refonte de site, Animation web</p>
            </div>
          </div>
          <div class="maskP" role="dialog"></div>
          <div class="modalP">
            <button class="closeP"></button>
            <div class="contenuProjet">
              <div class="desContainer">
                <img src="<%=require('./img/agence-nature-logo.png')%>" alt="Projet : Refonte du site de l'agence nature">
                <div class="desCriptif">
                    <p>Spécificités :</p><br>
                    <p>Refonte de site</p>
                    <p>Front-End</p>
                    <p>html, sass, svg</p>
                </div>
              </div>
              <div class="corps">
                  <h3>L'Agence Nature</h3>
                  <p>La refonte du site est actuellement en cours.<br>
                    Je travaille en ce moment sur la partie homepage, précédé par un designer, le but va être de transposer dès l'arrivée sur la première page du site l'utilisateur et lui montrer que l'entreprise est spécialisée dans le domaine du marché bio.<br>
                    Pour cela, je vais utiliser le système d'animation de fichier svg, pour retranscrire le plus fidèlement possible le travail du designer.<br>
                    Premièrement, je vais organiser la future architecture de mon code par le biais d'Illustrator en créant une multitude de calques et en renommant précisément chaque tracé. Les tracés seront par la suite transformés en groupes associés à un id généré à partir du nom que j'aurai attribué.<br>
                    Une fois fait, j'exporte une version optimisée du svg ne comportant que les éléments essentiels à son affichage, c'est à dire les coordonnées de chaque point ainsi que les couleurs associées à chaque tracé.<br>
                    C'est là que mon travail va commencer à être visible ! Je vais tenter de donner vie à la scène précédemment dessinée. Pour cela je vais utiliser des fonctions d'animation pour raconter une histoire à l'utilisateur et rendre la scène vivante.<br>
                    <br>Mais il n'y a pas que ça ! En effet, le site a été construit sur une base Wordpress et agrémenté en contenu dynamique par le biais de Elementor et sera donc réutilisable par une personne lambda, elle n'aura pas nécessairement besoin de connaissances pour pouvoir mettre à jour le site de l'agence ou bien mettre à jour du contenu sur le site internet.<br>
                    <br>Une fois le travail fini, vous pourrez visiter le site pour voir le résultat d'un site fait avec amour : <a href="https://agence-nature.fr">agence-nature.fr</a> !<br>
                    <br>Voici ci-dessous une des dernières versions de la première section de la page d'accueil que j'ai pu faire jusqu'à présent :</p>
                    <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="css,result" data-user="Pierre-Darrieutort" data-slug-hash="daYBBZ" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="Animals life - Homepage">
                      <span>See the Pen <a href="https://codepen.io/Pierre-Darrieutort/pen/daYBBZ/">
                      Animals life - Homepage</a> by Pierre Darrieutort (<a href="https://codepen.io/Pierre-Darrieutort">@Pierre-Darrieutort</a>)
                      on <a href="https://codepen.io">CodePen</a>.</span>
                    </p>
                    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
              </div>
            </div>
          </div>
        </div>
        <div class="workContainer" data-projet="2">
          <div class="img-projet" style='background-image: url("<%=require('./img/la-borie-bio-logo.png')%>")'></div>
          <div class="desc-projet">
            <a class="showP">En savoir plus <span>&#x1F4A1;</span></a>
            <div class="nom-projet">
              <p>La Borie - Bio</p>
              <p>Refonte de site, Animation web</p>
            </div>
          </div>
          <div class="maskP" role="dialog"></div>
          <div class="modalP">
            <button class="closeP"></button>
            <div class="contenuProjet">
              <div class="desContainer">
                <img src="<%=require('./img/la-borie-bio-logo.png')%>" alt="Projet : Refonte du site La Borie">
                <div class="desCriptif">
                    <p>Spécificités :</p><br>
                    <p>Refonte de site</p>
                    <p>Front-End</p>
                    <p>html, scss, svg</p>
                </div>
              </div>
              <div class="corps">
                <h3>La Borie - Bio</h3>
                <p>Le but de ce projet était de créer un site dédié à l'entreprise La Borie, ce site devait à la fois raconter l'histoire de l'entreprise, ses valeurs et devait aussi mettre en avant ses différents produits ainsi que proposer différents articles relatifs à son actualité.<br>
                Nous avons donc pensé à réaliser le site sous Wordpress en utilisant le plugin Elementor afin de faciliter la modification de contenu une fois le projet remis "clés en main" au client.<br>
                Pour la partie storytelling nous nous sommes inspirés du travail de Orangina en créant un véritable fil rouge au fur et à mesure de la descente dans la page dédiée.<br>
                Dans un deuxième temps nous avons mis en avant la tendance Do it Yourself en y consacrant un page, ce qui nous aussi permis de mettre en exergue le produit phare de l'entreprise: "La pâte à idées" !<br>
              <br>Vous pouvez allez voir le résultat par ici, surtout si vous avez une envie d'une pâte à pizza originale et faite avec amour : <a href="https://la-borie-bio.fr">la-borie-bio.fr</a> !</p>
              </div>
            </div>
          </div>
        </div>
        <div class="workContainer" data-projet="3">
          <div class="img-projet" style='background-image: url("<%=require('./img/aeroport-de-bordeaux-merignac-logo.jpg')%>")'></div>
          <div class="desc-projet">
            <a class="showP">En savoir plus <span>&#x1F4A1;</span></a>
            <div class="nom-projet">
              <p>Aéroport de Bordeaux - Mérignac</p>
              <p>Data-sciences, Big Data</p>
            </div>
          </div>
          <div class="maskP" role="dialog"></div>
          <div class="modalP">
            <button class="closeP"></button>
            <div class="contenuProjet">
              <div class="desContainer">
                <img src="<%=require('./img/aeroport-de-bordeaux-merignac-logo.jpg')%>" alt="Projet : Data Science avec l'aéroport de Bordeaux Mérignac">
                <div class="desCriptif">
                  <p>Spécificités :</p><br>
                  <p>Data-science, Big Data</p>
                  <p>Back-End</p>
                  <p>PHP, NodeJs, PowerBi</p>
                </div>
              </div>
              <div class="corps">
                <h3>Aéroport de Bordeaux - Mérignac</h3>
                <p>Ce projet-ci aura nécessité plusieurs mois de travail, il s'agit de réaliser une interface interactive représentant les informations importantes dont a besoin l'aéroport de Bordeaux Mérignac. Cela peut aller du simple nombre de vols prévus sur une période donnée jusqu'au calcul de prédictions concernant les zones les plus fréquentées dans tel ou tel terminal.<br>
                  Pour réaliser ce projet, je me suis plongé dans le monde de la data-science, de la Big Data et de l'Intelligence Artificielle !<br>
                  Pour créer ces visuels j'ai utilisé l'outil Microsoft Power Bi, un outil d'affichage de graphiques à partir de tableaux de données, et recherché des formules mathématiques pouvant venir à bout des différents problèmes que j'ai eu à résoudre.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="workContainer" data-projet="4">
          <div class="img-projet" style='background-image: url("<%=require('./img/auchan-logo.jpg')%>")'></div>
          <div class="desc-projet">
            <a class="showP">En savoir plus <span>&#x1F4A1;</span></a>
            <div class="nom-projet">
              <p>Auchan Bouliac</p>
              <p>Chefferie de projet</p>
            </div>
          </div>
          <div class="maskP" role="dialog"></div>
          <div class="modalP">
            <button class="closeP"></button>
            <div class="contenuProjet">
              <div class="desContainer">
                <img src="<%=require('./img/auchan-logo.jpg')%>" alt="Projet : Chefferie de projet pour Auchan Bouliac">
                <div class="desCriptif">
                  <p>Spécificités :</p><br>
                  <p>Chefferie de projet</p>
                  <p>2 livrables</p>
                  <p>logo + App</p>
                </div>
              </div>
              <div class="corps">
                <h3>Projet de Communication pour Auchan Bouliac</h3>
                <p>Ce projet a été réalisé sur 6 mois et comportait un présentation intermédiaire à un jury de professionnels pour constater l'avancée du projet et d'un présentation finale destinée à montrer les livrables finaux du projet.<br>
                  Le projet était composé de deux livrables :<br>
                      - Le premier était de réaliser un refonte du logo de Auchan Bouliac afin de représenter les valeurs de l'entreprise et lui donner une identité propre.<br>
                      - Le second était de créer une application qui servirait de GPS pour trouver directement des produits préalablement entrés dans une liste de courses dynamique.<br><br>
                  Alors pourquoi réaliser une telle application ?<br>
                    C'est très simple, le magasin Auchan Bouliac dispose d'une très large surface de vente et expose donc énormément de produits. Dans l'optique d'aider les utilisateurs les plus pressés à directement aller droit au but, sans se perdre dans les rayons, Auchan Bouliac souhaite créer une application qui pallierait ce problème.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="workContainer" data-projet="5">
          <div class="img-projet" style='background-image: url("<%=require('./img/oboem-logo.jpg')%>")'></div>
          <div class="desc-projet">
            <a class="showP">En savoir plus <span>&#x1F4A1;</span></a>
            <div class="nom-projet">
              <p>Ôboem</p>
              <p>Chefferie de projet</p>
            </div>
          </div>
          <div class="maskP" role="dialog"></div>
          <div class="modalP">
            <button class="closeP"></button>
            <div class="contenuProjet">
              <div class="desContainer">
                <img src="<%=require('./img/oboem-logo.jpg')%>" alt="Projet : Communication et chefferie de projet pour Ôboem">
                <div class="desCriptif">
                  <p>Spécificités :</p><br>
                  <p>Chefferie de projet</p>
                  <p>1 livrable</p>
                  <p>Vidéo</p>
                </div>
              </div>
              <div class="corps">
                <h3>Ôboem - Le projet coloré !</h3>
                <p>Ce projet aura été réalisé en mode agence en collaboration avec l'entreprise Ôboem.<br>
                  L'objectif de l'entreprise était de communiquer autour de son identité et du but de son but : Transformer les affichages dans les rues en cadres pour des œuvres d'arts et cela par le biais de mécènes. Nous avons donc réalisé une campagne Ulule accompagnée d' une vidéo promotionnelle annonçant leur nouvelle campagne de crowdfunding !
                Nous aurons accompagné l'entreprise durant 6 mois en communiquant autour le plus possible, en organisant différents événements et en créant de l'engagement pour le projet sur les réseaux sociaux.<br>
              <br>Vous pouvez retrouver ci-dessous la vidéo promotionnelle réalisée par nos soins ! Bon visionnage :)<br></p>
              <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FOboem.art%2Fvideos%2F401578910261864%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="workContainer" data-projet="6">
          <div class="img-projet" style='background-image: url("<%=require('./img/logo-pierre-darrieutort.svg')%>")'></div>
          <div class="desc-projet">
            <a class="showP">En savoir plus <span>&#x1F4A1;</span></a>
            <div class="nom-projet">
              <p>ICA Project</p>
              <p>Réalisation webApp (projet perso)</p>
            </div>
          </div>
          <div class="maskP" role="dialog"></div>
          <div class="modalP">
            <button class="closeP"></button>
            <div class="contenuProjet">
              <div class="desContainer">
                <img src="<%=require('./img/logo-pierre-darrieutort.svg')%>" alt="Projet : Créer une webApp entièrement personnalisable">
                <div class="desCriptif">
                  <p>Spécificités :</p><br>
                  <p>Créateur indépendant</p>
                  <p>1 livrable</p>
                  <p>webApp</p>
                </div>
              </div>
              <div class="corps">
                <h3>The ICA Project</h3>
                <p>Aussi appelé "le projet d'Application de Crowdfunding interne", ce projet m'aura pris plusieurs mois et son but était de palier à un problème bien trop souvent rencontré dans les grandes entreprises : un budget est alloué au confort des employés mais est géré par une seule personne ou un groupe restreint de personnes.<br>
                  objectif de mon application est de répartir une somme égale à chaque employé afin qu'il ait un pouvoir de décision dans son entreprise et qu'il soit une voix aussi importante que tout un chacun dans le processus décisionnel d'allocation du budget dédié aux employés dans chaque entreprise.<br>
                <br> J'ai donc réalisé cette application, qui est maintenant totalement fonctionnelle et d'ores et déjà utilisée !<br>
                <br> L'application est entièrement développée en PHP et utilise un système de base de données MySQL. Vous pouvez retrouver une des dernières versions de l'application sur <a href="https://gitlab.com/Pierre_Darrieutort">Mon GitLab</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer id="footer">
      <div class="anchorWrapper">
        <nav class="nav-menu-footer">
            <h3><a class="js-scrollTo" href="#body">Pierre Darrieutort</a></h3>
          <ul>
            <li><a class="js-scrollTo" href="#a-propos">&Agrave; propos</a></li>
            <li><a class="js-scrollTo" href="#mes-travaux">Mes projets</a></li>
            <li><a target="_blank" content="noindex,nofollow" href="./docs/mentions-legales.html">Mentions l&eacute;gales</a></li>
          </ul>
        </nav>
      </div>
      <div class="contactWrapper">
        <h3>Contactez-moi !</h3>
        <div class="email-me">
          <input type="email" id="mailContact" autocomplete="off" name="emailField" placeholder="Entrez votre email">
          <button class="show">Écrire <span>&#x2712;</span></button>
        </div>
        <div class="mask" role="dialog"></div>
        <div class="modal">
          <button class="close"></button>
          <form action="contact.php" method="post">
            <input type="email" id="mail" name="user_address" autocomplete="off" placeholder="Votre adresse e-mail"
              required>
            <input type="text" id="nom" name="user_name" autocomplete="off" placeholder="Votre Nom, Prénom" required>
            <textarea id="message" name="user_message" autocomplete="off" placeholder="Votre message" required></textarea>
            <button type="submit">Envoyer le message</button>
          </form>
        </div>
      </div>
      <div class="socialWrapper">
        <h3>Social</h3>
        <a target="_blank" href="https://www.linkedin.com/in/pierre-darrieutort"><img class="LinkedIn" src="<%=require('./img/Linkedin-pierre-darrieutort.svg')%>"
            alt="LinkedIn Pierre Darrieutort"></a>
        <a target="_blank" href="https://gitlab.com/Pierre_Darrieutort"><img class="GitLab" src="<%=require('./img/Gitlab-pierre-darrieutort.svg')%>"
            alt="GitLab Pierre Darrieutort"></a>
        <p id="copyright">&copy; - 2019</p>
      </div>
    </footer>
  </div>
  <script src="./js/app.js"></script>
</body>

</html>
